#!/usr/bin/make -f

export GOPATH     := /usr/share/gocode
export QT5_LIBDIR := /usr/lib/$(shell dpkg-architecture -qDEB_HOST_MULTIARCH)/qt5

%:
	dh $@ --parallel

override_dh_auto_install:
	make DESTDIR=$(CURDIR)/debian/dde-go-dbus-factory  install-golang
	make DESTDIR=$(CURDIR)/debian/dde-qml-dbus-factory install-qml
