#!/usr/bin/make -f

export GOPATH := /usr/share/gocode

QML_ARCH = $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
QML=usr/lib/$(QML_ARCH)/qt5/qml/

%:
	dh $@
override_dh_auto_build:
	cd in.json && python $(CURDIR)/debian/json_build.py && cd ..

override_dh_auto_clean:
	rm -rf in.json/go in.json/qml

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/dde-go-dbus-factory
	mkdir -p debian/dde-go-dbus-factory/usr/share/gocode/src/dbus
	cp in.json/go/src/* -r debian/dde-go-dbus-factory/usr/share/gocode/src/dbus
# Build qml daemon
	debian/qml_install

override_dh_strip:
